certifi==2024.7.4
chardet==3.0.4
dj-database-url==0.4.2
Django==4.2.27
future==1.0.0
gunicorn==22.0.0
idna==3.7
line-bot-sdk==1.5.0
numpy==1.22.0
pandas==0.22.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
requests==2.32.4
six==1.11.0
urllib3==2.6.0
whitenoise==3.3.1
